h1 {
    text-align: center;
    font-size: 50px;
    color:orange;
}

#indiceMenuPrincipal {
    font-size: 25px;
    color:blue;
}

h2 {
    font-size: 25px;
}

p {
    font-size:20px;
}

#backToTop {
    text-align: center;
    color:blue;
}

#contactPage{
    text-align: center;
    font-size: 45px;
    background-color: lightblue;
    color: darkblue;
}

#receitasPopulares {
    font-size: 25px;
    background-color: lightsalmon;
    color: red;
}

.menuMaisBuscados {
    font-size: 25px;
    background-color: lightsalmon;
    color: red;
}