table thead th {
    background-color: forestgreen;
    color:white;
}

table tfoot {
    background-color: grey;
}

table tbody td {
    align-items: center;
}

table tr:nth-child(even){
    background-color:rgb(228, 148, 30);
}

table tr:hover td {
    background-color: grey;
}